{% extends 'base/base.html' %}
{% load static %}


{% block style %}
    
    <style>
        .hero-image {
        background-image: url("{% static 'assets/background2.png' %}");
        height: 16rem;
        top: 0;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        }

        /* navbar */

  .navbar-colored {
    background-color: rgb(243, 243, 243) !important;
    transition: background-color 320ms linear;
  }

  .nav-item {
    margin-right: 0.8rem;
  }

  .nav-link.active {
    font-weight: bold;
  }

  .nav-link {
    font-size: 20px;
  }
        
    </style>
{% endblock %}

{% block content %}

<body>

    <div class="hero-image">
        <i>
            <img src="{% static 'assets/device-humidifier.png' %}" alt="Device" style="width: 4em;">
        </i>
        <h4 style="font-weight: 700;"><strong><u>Humidifier - {{device.deviceID}}</u></strong></h4>
        <p style="font-weight: 700; font-size: large;">{{device.deviceRoom}}</p>
    </div>
    
    <div class="container device-detail-container">

        <!-- Navbar -->
        <nav id="navbarID" class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
            <div class="container">
                <!-- logo -->
                <a class="logo">
                    <img src="{% static 'assets/logo.png' %}" alt="MJM logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- menu -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                          <a style="font-size: 28px;" class="nav-link" href="/monitoring/">
                            <i class="fa fa-sign-out"></i>
                          </a>                          
                        </li>
                      </ul>
                </div>
            </div>
        </nav>


        <!-- SENSOR SUHU -->
        <div class="row" style="justify-content: space-evenly;">

            <div class="card">
                <div class="card card-title">
                    <h4>Suhu Chamber</h4>
                </div>
                <div class="card-content">
                    <div class="progress-circle p50">
                        <div id="alert-chamber-a" class="alert-indicator"></div>
                        <span id="chamber-a-number"></span>
                        <div class="left-half-clipper">
                            <div class="first50-bar"></div>
                            <div class="value-bar" id="chamber-A"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card card-title">
                    <h4>Suhu Heater Plate</h4>
                </div>
                <div class="card-content">
                    <div class="progress-circle p50">
                        <div id="alert-heater-plate" class="alert-indicator"></div>
                        <span id="heater-plate-number"></span>
                        <div class="left-half-clipper">
                            <div class="first50-bar"></div>
                            <div class="value-bar" id="heater-plate"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card card-title">
                    <h4>Suhu Output Pasien</h4>
                </div>
                <div class="card-content">
                    <div class="progress-circle p50">
                        <div id="alert-output-pasien" class="alert-indicator"></div>
                        <span id="output-pasien-number"></span>
                        <div class="left-half-clipper">
                            <div class="first50-bar"></div>
                            <div class="value-bar" id="output-pasien"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- SENSOR heater -->
        <div class="row" style="justify-content: space-evenly; margin-top: 3em;">

            
            <div class="card">
                <div class="card card-title">
                    <h4>Heater Plate Status</h4>
                </div>
                <div class="card-content">
                    <div class="progress-circle p50">
                        <div id="alert-heater-plate-status" class="alert-indicator"></div>
                        <span id="heater-plate-text"></span>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card card-title">
                    <h4>Heater Wire Status</h4>
                </div>
                <div class="card-content">
                    <div class="progress-circle p50">
                        <div id="alert-heater-wire-status" class="alert-indicator"></div>
                        <span id="heater-wire-text"></span>
                    </div>
                </div>
            </div>


        </div>
    </div>
    {% csrf_token %}
    <script>
        let deviceID = {{ device.deviceID }};
    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/imagesloaded.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/device-post-detail.js' %}"></script>
</body>

{% endblock content %}