{% extends 'base/base.html' %}
{% load static %}


{% block style %}
    
    <style>
        .hero-image {
        background-image: url("{% static 'assets/background2.png' %}");
        height: 16rem;
        top: 0;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        }
        
    </style>
{% endblock %}

{% block content %}

<body>

    <div class="hero-image">
        <i>
            <img src="{% static 'assets/device-humidifier.png' %}" alt="Device" style="width: 4em;">
        </i>
        <h4 style="font-weight: 700;"><strong><u>Humidifier - {{device.deviceID}}</u></strong></h4>
        <p style="font-weight: 700; font-size: large;">{{device.deviceRoom}}</p>
    </div>
    
    <div class="container device-detail-container">

        <!-- Navbar -->
        <nav id="navbarID" class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
            <div class="container">
                <!-- logo -->
                <a href="index.html" class="logo">
                    <img src="{% static 'assets/logo.png' %}" alt="MJM logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- menu -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-black" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="/monitoring/">Monitoring</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li style="cursor: pointer;"><a class="dropdown-item" id="add-device-item"><i
                                            class="fa fa-plus">&nbsp;Add Device</i></a></li>
                                <li><a class="dropdown-item" href="#"><i class="fa fa-gear">&nbsp;Account
                                            Settings</i></a></li>
                                <li>
                                    <hr style="margin-bottom: 0.3rem;">
                                </li>
                                <li><a class="dropdown-item" href="/account/logout/"><i
                                            class="fa fa-sign-out">&nbsp;Logout</i></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <!-- SENSOR SUHU -->
        <div class="row" style="justify-content: space-evenly;">

            <div class="card">
                <div class="card card-title">
                    <h4>Suhu Chamber A</h4>
                </div>
                <div class="card-content">
                    <div class="progress-circle p50">
                        <div id="alert-chamber-a" class="alert-indicator"></div>
                        <span id="chamber-a-number"></span>
                        <div class="left-half-clipper">
                            <div class="first50-bar"></div>
                            <div class="value-bar" id="chamber-A"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card card-title">
                    <h4>Suhu Chamber B</h4>
                </div>
                <div class="card-content">
                    <div class="progress-circle p50">
                        <div id="alert-chamber-b" class="alert-indicator"></div>
                        <span id="chamber-b-number"></span>
                        <div class="left-half-clipper">
                            <div class="first50-bar"></div>
                            <div class="value-bar" id="chamber-B"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- SENSOR heater -->
        <div class="row" style="justify-content: space-evenly;">

            <div class="card">
                <div class="card card-title">
                    <h4>Suhu Heater Plate</h4>
                </div>
                <div class="card-content">
                    <div class="progress-circle p50">
                        <div id="alert-heater-plate" class="alert-indicator"></div>
                        <span id="heater-plate-number"></span>
                        <div class="left-half-clipper">
                            <div class="first50-bar"></div>
                            <div class="value-bar" id="heater-plate"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card card-title">
                    <h4>Suhu Output Pasien</h4>
                </div>
                <div class="card-content">
                    <div class="progress-circle p50">
                        <div id="alert-output-pasien" class="alert-indicator"></div>
                        <span id="output-pasien-number"></span>
                        <div class="left-half-clipper">
                            <div class="first50-bar"></div>
                            <div class="value-bar" id="output-pasien"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script>
        let deviceID = {{ device.deviceID }};
    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/imagesloaded.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/device-post-detail.js' %}"></script>
</body>

{% endblock content %}